<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wcy.dao.AdminDao">
	<resultMap type="Admin" id="AdminMap">
		<id property="id" column="id" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="sex" column="sex" />
		<result property="phone" column="phone" />
		<result property="email" column="email" />
		<result property="comment" column="comment" />
	</resultMap>
	<!-- 管理员登录 -->
	<select id="login" resultMap="AdminMap" parameterType="Admin">
		select * from admin where username= #{username} and password= #{password}
	</select>
	<!-- 添加管理员 -->
	<insert id="register" parameterType="Admin">
		insert into admin(username,password,sex,phone,email,comment)
		values (#{username},#{password},#{sex},#{phone},#{email},#{comment})
	</insert>

	<!--查看所有管理员 -->
	<select id="getAllUsers" resultMap="AdminMap">
		select * from admin
	</select>
	<!-- 删除管理员 -->
	<delete id="deleteAdmin" parameterType="Admin">
		delete from admin where id= #{id}
	</delete>

	<select id="selectByaidDao" resultMap="AdminMap" parameterType="Admin">
		select * from admin where a_id=#{a_id}
	</select>
	<select id="selectExitAdminDao" resultMap="AdminMap"
		parameterType="Admin">
		select * from admin where a_username =#{a_username}
	</select>
	<select id="searchAdminInfoDao" resultMap="AdminMap"
		parameterType="Admin">
		select * from admin
		<where>
			<if test="a_authority !=null and a_authority !=''">
				and a_authority like CONCAT(CONCAT('%',#{a_authority}),'%')
			</if>
			<if test="a_name !=null and a_name !=''">
				and a_name like CONCAT(CONCAT('%',#{a_name}),'%')
			</if>
		</where>
		order by a_createtime desc
	</select>


	<update id="updateAdminDao" parameterType="Admin">
		update admin set
		a_name=#{a_name},a_phone=#{a_phone},a_email=#{a_email},a_authority=#{a_authority}
		where a_id=#{a_id}
	</update>
	<update id="restPswsDao" parameterType="List">
		update admin set a_password='123' where a_id in
		<foreach collection="list" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</update>
	<!-- 用户信息管理 -->
	<update id="updateInfoDao" parameterType="Admin">
		update admin
		<set>
			<if test="a_name !=null">
				a_name=#{a_name},
			</if>
			<if test="a_phone !=null">
				a_phone=#{a_phone},
			</if>
			<if test="a_email !=null">
				a_email= #{a_email},
			</if>
			<if test="a_authority !=null">
				a_authority = #{a_authority}
			</if>
		</set>
		where a_username = #{a_username} and a_password=#{a_password}
	</update>
	<update id="updatePasswordDao" parameterType="Map">
		update admin set a_password=#{r_password} where a_username= #{a_username}
		and a_password= #{a_password}
	</update>

</mapper>